<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="generator" content="GitLab Pages">
  <title>Plain HTML site using GitLab Pages</title>

  <link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Doom Wargames</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li class="nav-link">
              <a href="index.html">reset</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </div>

  <div id="app" class="container">
    <div v-if="state == 'deathstar'">
      <h1>Doom Wargames</h1>
      <h2>Challenges</h2>
      <ul>
        <li>
          <a @click="setState('rocinante')">rocinante</a>
        </li>
        <li>
          <a @click="setState('saratoga')">saratoga</a>
        </li>
        <li>
          <a @click="setState('bluemidget')">blue midget</a>
        </li>
      </ul>

    </div>

    <!-- ROCINANTE -->
    <div v-if="state == 'rocinante'">
      <h2>BSUP-666: Codename Rocinante</h2>
      <h3>
        Ticket
      </h3>
      <div class="bsup">
        <div class="bsup-head">
          https:&sol;&sol;doom-jira.com&sol;bsup-666
        </div>
        <div class="bsup-body">

          <h5>Description</h5>
          <p>
            Property &apos;OC-BUGGER&apos; is showing the wrong price on the HC website. Can we find out why,
            and if this is affecting any other properties, please?
          </p>
          <h5>
            Comments
          </h5>
          <div class="comment">
            Andrew says:<br />
            looks like it's just the one prop.. never got plenty of time
          </div>
        </div>
      </div>

      <div class="btn-group">
        <button @click="revealrocinante = !revealrocinante">reveal options</button>
      </div>

      <div v-if="revealrocinante">
        <h3>Options</h3>
        <ul>
          <li>
            <a @click="revealrociop1 = !revealrociop1">look in the twa database for the pricing and property</a>
            <div v-if="revealrociop1">
              <h5>Findings</h5>
              <img src="rocidb.png" />

              <p>
                after running &quot;select * from pricing_availability where property_code =
                &apos;OC-BUGGER&apos;&quot;, you notice that the price in the database is as it is showing on the HC
                website.
              </p>
              <p>
                the property is in the properties table.
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop2 = !revealrociop2">check the price of that property in plato</a>
            <div v-if="revealrociop2">
              <h5>Findings</h5>
              <img src="rociopprice.png" />

              <p>
                the price in tabs is correct as per the OC website
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop3 = !revealrociop3">check logs in cloudwatch/datadog</a>
            <div v-if="revealrociop3">
              <h5>Findings</h5>
              <img src="rocioplogs.png" />

              <p>
                On going to cloudwatch -> the correct loggroup and seaching on the property code (after OC-) we can see
                that the available break was updated when expected, without error.
              </p>
              <img src="rociopabchecknotpad.png" />
              <p>
                You inspect the available breaks passed to the pricing integration by extracting them from the logs. The
                price in there is the same as on the HC website
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop4 = !revealrociop4">use postman to GET the available breaks for that property</a>
            <div v-if="revealrociop4">
              <img src="rocioppostman.png" />
              <p>
                On inspecting the response from
                &apos;https://toccl.api.tabs-software.co.uk/v2/property/69/availablebreak&apos; you can see that the
                price is the same as on the HC website
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <button @click="revealconclusion = !revealconclusion">conclusion</button>
        <div v-if="revealconclusion">
          <h3>Rocinante conclusion</h3>
          <p>The pricing error has been traced to the available breaks generation logic. </p>
        </div>
      </div>
    </div>
    <!-- ROCINANTE END -->
    <!-- SARATOGA -->
    <div v-if="state == 'saratoga'">
      <h2>BSUP-69: Codename Saratoga</h2>
      <h3>
        Ticket
      </h3>
      <div class="bsup">
        <div class="bsup-head">
          https:&sol;&sol;doom-jira.com&sol;bsup-69
        </div>
        <div class="bsup-body">

          <h5>Description</h5>
          <p>
            Property &apos;OC-DC&apos; is not updating on the HC website since this morning. Can we find out why,
            and if this is affecting any other properties, please?
          </p>
          <h5>
            Comments
          </h5>
          <div class="comment">
            Andrew says:<br />
            mumsy!! there have been two properties found to have this same problem
          </div>
        </div>
      </div>

      <div class="btn-group">
        <button @click="revealrocinante = !revealrocinante">reveal options</button>
      </div>

      <div v-if="revealrocinante">
        <h3>Options</h3>
        <ul>
          <li>
            <a @click="revealrociop5 = !revealrociop5">check in the code to see the pricing update logic</a>
            <div v-if="revealrociop5">
              <h5>Findings</h5>
              <img src="saracode.png" />

              <p>
                It appears that the logic states the following:
              </p>

              <code>
                if(!property_in_properties_table){<br/>
                  log('property not found in properties table')<br/>
                  return 204;<br/>
                }
              </code>
            </div>
          </li>
          <li>
            <a @click="revealrociop1 = !revealrociop1">look in the twa database for the pricing and property</a>
            <div v-if="revealrociop1">
              <h5>Findings</h5>
              <img src="rocidb.png" />

              <p>
                after running &quot;select * from pricing_availability where property_code = &apos;OC-DC&apos;&quot;,
                you notice that the pricing is empty.
              </p>
              <p>
                the property is not in the properties table.
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop2 = !revealrociop2">check the state of that property in tabs</a>
            <div v-if="revealrociop2">
              <h5>Findings</h5>
              <img src="rociopprice.png" />
              <p>
                the property is live on OC, but does not have the HC Brand applied.
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop3 = !revealrociop3">check logs in cloudwatch/datadog</a>
            <div v-if="revealrociop3">
              <h5>Findings</h5>
              <img src="rocioplogs.png" />
              <p>
                On going to cloudwatch -> the correct loggroup and seaching on the property code (after OC-) we can see
                that the available break came in, and logged that there was no prop found in the database, and then
                stopped executing gracefully.
              </p>
              <img src="rociopabchecknotpad.png" />
              <p>
                You inspect the available breaks passed to the pricing integration by extracting them from the logs. The
                pricing in there is the same as on the HC website
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop4 = !revealrociop4">use postman to GET the available breaks for that property</a>
            <div v-if="revealrociop4">
              <img src="rocioppostman.png" />
              <p>
                On inspecting the response from
                &apos;https://toccl.api.tabs-software.co.uk/v2/property/55378008/availablebreak&apos; you can see that
                the property has availability
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <button @click="revealconclusion = !revealconclusion">conclusion</button>
        <div v-if="revealconclusion">
          <h3>Saratoga conclusion</h3>
          <p>The HC Brand was removed for some reason in Tabs. This is expected behaviour. Push the big red reject button.</p>
        </div>
      </div>
    </div>
    <!-- SARATOGA END -->
    <!-- BLUE MIDGET -->
    <div v-if="state == 'bluemidget'">
      <h2>BSUP-5318008: Codename Blue Midget</h2>
      <h3>
        Ticket
      </h3>
      <div class="bsup">
        <div class="bsup-head">
          https:&sol;&sol;doom-jira.com&sol;bsup-5318008
        </div>
        <div class="bsup-body">
          <h5>Description</h5>
          <p>
            Property availability doesn't seem to be updating for OC-YIKES
          </p>
          <h5>
            Comments
          </h5>
          <div class="comment">
            Andrew says:<br />
            I don't think any properties are updating... TO THE AZTEC ZONE!!
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button @click="revealrocinante = !revealrocinante">reveal options</button>
      </div>
      <div v-if="revealrocinante">
        <h3>Options</h3>
        <ul>
          <li>
            <a @click="revealrociop5 = !revealrociop5">check in the code to see the pricing update logic</a>
            <div v-if="revealrociop5">
              <h5>Findings</h5>
              <img src="saracode.png" />
              <p>
                you find nothing in the code which indicates the examples you have would be ignored or not written
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop1 = !revealrociop1">look in the twa database for the pricing and property</a>
            <div v-if="revealrociop1">
              <h5>Findings</h5>
              <img src="rocidb.png" />
              <p>
                after running &quot;select * from pricing_availability where property_code = &apos;OC-YIKES&apos;&quot;,
                you notice that the pricing is updating but as it states in the ticket, is out of date with the available breaks.
              </p>
              <p>
                HOWEVER: it took you three attempts to run the query as the db timed out each time.
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop2 = !revealrociop2">check the availability of that property in tabs</a>
            <div v-if="revealrociop2">
              <h5>Findings</h5>
              <img src="rociopprice.png" />

              <p>
                the availability in plato, matches the available breaks in the table, and being generated
              </p>
            </div>
          </li>
          <li>
            <a @click="revealrociop3 = !revealrociop3">check logs in cloudwatch/datadog</a>
            <div v-if="revealrociop3">
              <h5>Findings</h5>
              <img src="rocioplogs.png" />
              <p>
                in datadog and cloudwatch you can see 100% error rate. the system is retrying but the Dead letter queue is filling up quickly.
              </p>
              <img src="datadog.png" />
            </div>
          </li>
        </ul>
      </div>
      <div>
        <button @click="revealconclusion = !revealconclusion">conclusion</button>
        <div v-if="revealconclusion">
          <h3>Blue Midget conclusion</h3>
          <p>For whatever reason, the twa db is struggling to the point of catastrophic failure. you are not alone...</p>
        </div>
      </div>
    </div>
    <!-- BLUE MIDGET END -->
  </div>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          message: 'Hello Vue!',
          state: 'deathstar',
          revealrocinante: false,
          revealrociop1: false,
          revealrociop2: false,
          revealrociop3: false,
          revealrociop4: false,
          revealrociop5: false,
          revealconclusion: false,
        }
      },
      methods: {
        setState(input) {
          console.log(input);
          this.state = input;
        },
      }
    }).mount('#app')

  </script>
</body>

</html>