a {
  text-decoration: none;
  cursor: pointer;
}
ul{
  list-style-type: none;
}
.bsup {
  background-color: aliceblue;
  padding: 5px;
}

.bsup h5 {
  color: slategray;
}

.bsup-head {
  border: 1px dashed gray;
  padding: 10px;
}

.comment {
  border: 1px dashed gray;
  padding: 10px;
}